<h1>All The Men</h1>
<% @men.each do |man| %>
    <div>
        <%= link_to man.name, man_path(man) %>
    </div>
<% end %>
<br>
<button><%= link_to "Make a New Man", new_man_path %></button>

<button><%= link_to "Back to Homepage", homepage_path %></button>
