<h1>All the Relationships</h1>

<% @relationships.each do |rel| %>
    <div>
        <%= link_to "#{rel.man.name} & #{rel.woman.name}", relationship_path(rel) %>
    </div>
<% end %>

<p></p>

<button><%= link_to "Create a New Relationship", new_relationship_path %></button>
<button><%= link_to "Back to Homepage", homepage_path %></button>