<h1>Welcome to Bachelor in Paradise!</h1>
<h2>May all of your dramatic desires come true!</h2>

<div>
<%= link_to "Meet the Women", women_path %>
</div>
<div>
<%= link_to "Meet the Men", men_path%>
</div>
<div>
<%= link_to "See Their Love Stories", relationships_path%>
</div>
